<h2>There are <%= @check_in_count %> batteries charging in the box</h2>

<h1>Batteries currently charging</h1>

<table>
<% @check_ins.each do |ci| %>
<tr>
  <td><%= link_to ci.rider.name, ci.rider %></td><td>|</td>
  <td><%= link_to ci.battery.lbid, ci.battery %></td><td>|</td>
  <td><%= link_to ci.charger.lbid, ci.charger %></td><td>|</td>
  <td><%= link_to "Check Out", ci, method: "delete", data: {confirm: "Are you sure?"} %></td>
<% end %>
</table>
<h1>Search by ID</h1>
<%= form_for(@search, url: search_path) do |f| %>

  <%= f.label :rider %>
  <%= f.text_field :rider %>
  
  <%= f.label :battery %>
  <%= f.text_field :battery %>

  <%= f.label :charger %>
  <%= f.text_field :charger %>

  <%= f.submit "Search" %> 

<% end %>