<h2>There are <%= @check_in_count %> batteries charging in the box</h2>

<h1>Batteries currently charging</h1>
<% @check_ins.each do |ci| %>

<h3><%= link_to ci.rider.name, ci.rider %> | 
    <%= link_to ci.battery.lbid, ci.battery %> | 
    <%= link_to ci.charger.lbid, ci.charger %> ||| 
    <%= link_to "Check Out", ci, method: "delete", data: {confirm: "Are you sure?"} %></h3>
<% end %>

<h1>Search by ID</h1>
<%= form_for(@search, url: search_path) do |f| %>

  <%= f.label :rider %>
  <%= f.text_field :rider %>
  
  <%= f.label :battery %>
  <%= f.text_field :battery %>

  <%= f.label :charger %>
  <%= f.text_field :charger %>

  <%= f.submit "Search" %> 

<% end %>