<% provide(:title, "Battery Type")%>

<h1>Battery Types</h1>

<%= link_to "Add Battery Type", new_battery_type_path %>

<table>
  <tr>
    <td>
      <h4>Name</h4>
    </td>
    <td>
      <h4>Description</h4>
    </td>
    <td>
      <h4>Cells</h4>
    </td>
    <td>
      <h4>Voltages (min/nom/max)</h4>
    </td>
    <td>
      <h4>Amp Hours</h4>
    </td>
    <td>
  </tr>

    <% @battery_types.each do |bt| %>

	  <tr>
	    <td>
	      <%= link_to bt.name, bt %>
	    </td>
	    <td>
	      <%= bt.description %>
	    </td>
	    <td>
	      <%= bt.cell_type %> / <%= bt.cell_count%>
	    </td>
	    <td>
	      <%= bt.minimum_voltage%> / <%= bt.nominal_voltage%> / <%= bt.maximum_voltage %>
	    <td>
	      <%= link_to "Edit", edit_battery_type_path(bt) %>
        <%= link_to "Delete", bt, method: "delete", data: { confirm: "Are you sure?" } %>
	    </td>
	  </tr>
  
    <% end %>

</table>