<% provide(:title, "Charger Types")%>

<h1>Charger Types</h1>

<%= link_to "Add Charger Type", new_charger_type_path %>

<table>
  <tr>
    <td>
      <h4>Name</h4>
    </td>
    <td>
      <h4>Description</h4>
    </td>
    <td>
      <h4>Voltage</h4>
    </td>
    <td>
      <h4>Amperage</h4>
    </td>
    <td>
      <h4>Grounded</h4>
    </td>
    <td>
      <h4>Connector Type</h4>
    </td>
  </tr>

    <% @charger_types.each do |ct| %>

	  <tr>
	    <td>
	      <%= link_to ct.name, ct %>
	    </td>
	    <td>
	      <%= ct.description %>
	    </td>
	    <td>
	      <%= ct.voltage_output %>
	    </td>
	    <td>
	      <%= ct.amperage_output %>
	    <td>
	    <td>
	      <%= ct.grounded %>
	    </td>
      <td>
	    <%= link_to "Edit", edit_charger_type_path(ct)" %>
	 	  <%= link_to "Delete", ct, method: "delete", data: { confirm: "Are you sure?" } %>
      </td>
	  </tr>
  
    <% end %>

</table>