<% provide(:title, "New Check In") %>

<%= form_for(@check_in) do |f| %>

    <div>
    <%= f.label :rider_id %>
    <%= f.collection_select :rider_id, Rider.order(:name), :id, :name, include_blank: true %>
    </div>

    <div>    
    <%= f.label :battery_id %>
    <%= f.grouped_collection_select :battery_id, Rider.order(:name), :batteries,:name, :id, :lbid, include_blank: true %>
    </div>

    <div>
    <%= f.label :charger_id %>
    <%= f.grouped_collection_select :charger_id, Rider.order(:name), :chargers, :name, :id, :lbid, include_blank: true %>
    </div>
    <br>
    <%= f.submit "Check In" %>

<% end %>

<%= javascript_include_tag params[:controller] %>
