<% provide(:title, "New Check In") %>

<%= form_for(@check_in) do |f| %>

    <div>
    <%= f.label :rider_id %>
    <%= f.collection_select :rider_id, Rider.order(:name), :id, :name, include_blank: true %>
    </div>

    <div>    
    <%= f.label :battery_id %>
    <%= f.collection_select :battery_id, Battery.order(:lbid), :id, :lbid, include_blank: true %>
    </div>

    <div>
    <%= f.label :charger_id %>
    <%= f.collection_select :charger_id, Charger.order(:lbid), :id, :lbid, include_blank: true %>
    </div>

    <%= f.submit "Check In" %>

<% end %>

