<% provide(:title, "Riders")%>

<h1>Riders</h1>

<%= link_to "Add Rider", new_rider_path %>

<table>
  <tr>
    <td>
      <h2>Name</h2>
    </td>
    <td>
      <h2>Last Updated</h2>
    </td>
    <td>
      <h2>Batteries Owned</h2>
    </td>
    <td>
      <h2>Chargers Owned</h2>
    </td>
    <td>
      <h2>Active Check-Ins</h2>
    </td>
  </tr>

    <% @riders.each do |r| %>

	  <tr>
	    <td>
	      <h3><%= link_to r.name, r %></h3>
	    </td>
	    <td>
	      <h3><%= r.updated_at.to_formatted_s(:short) %></h3>
	    </td>
	    <td>
	      <h3><%= r.batteries.count %></h3>
	    </td>
	    <td>
	      <h3><%= r.chargers.count %></h3>
	    </td>
	    <td>
	      <h3> (coming soon) </h3>
	    <td>
	      <%= link_to "Edit", edit_rider_path(r) %>
	    </td>
	  </tr>
  
    <% end %>

</table>