<% provide(:title, "Riders")%>

<h1>Riders</h1>

<%= link_to "Add Rider", new_rider_path %>

<table>
  <tr>
    <td>
      <h4>Name</h4>
    </td>
    <td>
      <h4>Last Updated</h4>
    </td>
    <td>
      <h4>Batteries Owned</h4>
    </td>
    <td>
      <h4>Chargers Owned</h4>
    </td>
    <td>
      <h4>Active Check-Ins</h4>
    </td>
  </tr>

    <% @riders.each do |r| %>

	  <tr>
	    <td>
	      <%= link_to r.name, r %>
	    </td>
	    <td>
	      <%= r.updated_at.to_formatted_s(:short) %>
	    </td>
	    <td>
	      <%= r.batteries.count %>
	    </td>
	    <td>
	      <%= r.chargers.count %>
	    </td>
	    <td>
	      (coming soon) 
	    <td>
	      <%= link_to "Edit", edit_rider_path(r) %>
	    </td>
	  </tr>
  
    <% end %>

</table>