<% provide(:title, "Chargers")%>

<h1>Chargers</h1>

<%= link_to "Charger Types", charger_types_path %>

<table>
  <tr>
    <td>
      <h4>LBID</h4>
    </td>
    <td>
      <h4>Last Updated</h4>
    </td>
    <td>
      <h4>Charger Type</h4>
    </td>
    <td>
      <h4>Owner</h4>
    </td>
  </tr>

    <% @chargers.each do |c| %>

	  <tr>
	    <td>
	      <%= link_to c.lbid, c %>
	    </td>
	    <td>
	      <%= c.updated_at.to_formatted_s(:short) %>
	    </td>
	    <td>
	      <%= c.charger_type.name %>
	    </td>
	    <td>
	      <%= link_to c.rider.name, c.rider %>
	    <td>
	      <%= link_to "Edit", edit_rider_charger_path( c.rider_id, c.id ) %>
	    </td>
	  </tr>
  
    <% end %>

</table>