<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BatteryBoxManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Dashboard", root_path %>
    <%= link_to "Riders", riders_path %>
    <%= link_to "Chargers", chargers_path %>
    <%= link_to "Batteries", batteries_path %>
    <%= link_to "Check In a Battery", new_check_in_path %>

    <br><br>
    <%= yield %>
  </body>
</html>